[user]
	email = mrkfrancis8@gmail.com
	name = Mark Francis
[merge]
	ff = true
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[alias]
	clean-branches = "!git branch | grep -v 'main' | xargs git branch -D"

# Use work config for work repos
[includeIf "gitdir:~/code/work/"]
	path = ~/code/work/.gitconfig